@charset "utf-8";
@import url(font/stylesheet.css);

/* common */
*{margin:0;padding:0;color:#000;}
html, body{margin:0;padding:0;font-size:16px;width:100%;height:100%;font-family:'Noto Serif KR', Poppins;}
body{color:#000;-webkit-user-select:none;-moz-user-select:none; -ms-user-select:none; user-select:none;}
ul,li{list-style:none;}
a{text-decoration:none;color:#000;}

#body.hidden {overflow:hidden;}
#wrap{position:relative;width:100%;height:100%;}

/* head */
#header{position:fixed;width:100%;z-index:10001;height:120px;top:0;background:rgba(255,255,255,0.8);}
#header .logo_wrap{position:absolute;top:20px;left:40px;}
#header .logo_wrap .logo{background:url(../img/main/h_logo.png) 0 0 no-repeat;width:131px;height:26px;}
#header .logo_wrap .logo a{display:block;width:100%;height:100%;font-size:0;}
#header .logo_wrap .txt{font-size:14px;margin-top:20px;}
/* head on */
#header.on{background:none;}
#header.on .logo_wrap .logo{background:url(../img/main/h_logo_w.png) 0 0 no-repeat;width:131px;height:26px;}
#header.on .txt{color:#fff;}

/* menu button */
#header .btn_menu{font-size:0;position:absolute;width:40px;height:25px;top:30px;right:40px;}
#header .btn_menu:before{content:'';display:block;width:45px;height:7px;background:#000;position:absolute;top:0;transition-timing-function:ease;transition-duration:.2s;}
#header .btn_menu:after{content:'';display:block;width:45px;height:7px;background:#000;position:absolute;bottom:0;transition-timing-function:ease;transition-duration:.2s;}
#header .btn_menu.on:before{inset-block-start:50%;transform:translate3d(0, -50%, 0) rotate(45deg);background:#fff;}
#header .btn_menu.on:after{inset-block-start:50%;transform:translate3d(0, -50%, 0) rotate(-45deg);background:#fff;}

/* menu */
#menuList{position:fixed;display:none;background:#000;width:100%;height:100%;top:0;left:0;right:0;margin:0 auto;z-index:10000;}
#menuList .list{position:absolute;top:calc(50% - 250px);left:calc(50% - 350px);}
#menuList .list li a{font-size:120px;color:#fff;}
#menuList .copy {font-size:13px;position:absolute;bottom:40px;right:40px;color:#fff;}
/* menu on*/
#menuList.on {display:block;}

/* main */
#container .list{padding:150px 0;display:flex;flex-wrap:wrap; margin:0 auto;border-radius:8px;width:1360px;}
#container .list li{width:33.33%;}
#container .list li .btn{display:block;height:600px;margin:1rem;background:#000;color:#fff;text-align:center;border-radius:50px;}


/* about */
.btn_closed{position:fixed;top:30px;right:40px;font-size:0;width:40px;height:25px;}
.btn_closed:before{content:'';display:block;width:45px;height:7px;background:#000;position:absolute;inset-block-start:50%;transform:translate3d(0, -50%, 0) rotate(45deg);background:#fff;}
.btn_closed:after{content:'';display:block;width:45px;height:7px;background:#000;position:absolute;inset-block-start:50%;transform:translate3d(0, -50%, 0) rotate(-45deg);background:#fff;}

.title_box {width:100%;height:1060px;background:url('/img/about/bg_about.jpg') top center no-repeat fixed;}
.title_box .title{font-size:0;}

.section_wrap{width:1360px;margin:0 auto;padding:135px 0;}
.section_wrap > * {font-family:'Noto Serif KR';}

/* section common */
.section{position:relative;}
.section .bg{font-size:0;}
.section .txt{font-size:30px;line-height:50px;letter-spacing:-0.05em;margin-top:30px;}
.section .txt:first-of-type{margin-top:0;}
.section .tit{font-family:Poppins;margin-bottom:30px;font-size:80px;}


/* box1 */
.section.box1{padding:300px 0 0;}
.section.box1 .bg{width:645px;height:641px;background:url('/img/about/bg_01.png') no-repeat 0 0;position:absolute;top:0;right:0;}


/* box2 */
.section.box2{padding:200px 0 0;}
.section.box2 .bg{width:673px;height:425px;background:url('/img/about/bg_02.jpg') no-repeat 0 0;}
.section.box2 .txt_box{position:absolute;left:750px;bottom:-100px;}

/* box3 */
.section.box3{padding:250px 0 0;margin-top:300px;}
.section.box3 .bg{width:786px;height:457px;background:url('/img/about/bg_03.jpg') no-repeat 0 0;position:absolute;top:0;right:0;}



