@media all and (max-width: 1360px){
    .contents{width:100%;}
    .contents .list{width:100%;}
    .contents .list li{width:50%;}
    .list_menu .list{}
    .list_menu .list li a{font-size:5rem;}
    
}
@media all and (max-width: 780px){
    html, body {font-size:13px;}
    .contents .list li{width:100%;}
}