@media all and (max-width: 1360px){
    html, body {font-size:15px;transition:all .2s linear;}
    #container{overflow:hidden;}
    .contents{width:100%;}
    .contents .list{width:100%;}

    /* about */
    .title_box.ab{position:fixed;top:0;left:0;background:url(../img/about/bg_about.jpg) center no-repeat;background-size:cover;}
    .title_box.ab .tit{font-size:5rem;line-height:8rem;}
    .title_box.ab +.contents {margin-top:66.25rem;}
    .section .box{flex:1;}
    .section.box1,
    .section.box2,
    .section.box3,
    .section.box4{flex-direction:column;margin-top:15.5rem;}
    .section.box2 .box:last-of-type,
    .section.box3 .box:last-of-type,
    .section.box4 .box:last-of-type{padding-right:0;padding-left:0;}
    .section.box5 .bg_box{flex-direction:column;}
    .section.box2{align-items:flex-start;}
    .br{display:inline;}
    /* contact */
    .footer{padding:4.375rem;}
    .foot_wrap{width:100%;}
}
@media all and (max-width: 960px){
    html, body {font-size:14px;transition:all .2s linear;}
    .contents{width:auto;padding:8rem 2rem;}
    .contents .list li{width:50%;}
    /* menu */
    .list_menu .list li a{font-size:7rem;}
    .ex_wrap .list_info{margin-left:5rem;}
    /* about */
    
    
}
@media all and (max-width: 640px){
    html, body {font-size:10px;transition:all .2s linear;}

    .contact_tit{font-size:5rem;padding-left:2rem;}
    .contents .list li{width:100%;}
    /* menu */
    .list_menu .list li{padding:0 2.5rem;}
    .list_menu .list li a{font-size:4rem;} 
    /* experience */
    .ex_wrap{flex-direction: column-reverse;}
    .ex_wrap .cell{margin-top:5rem;}
    .ex_wrap .cell:last-of-type{margin-top:0;}
    .ex_wrap .list_info{margin-left:0;}

    .title_box.ex{height:450px;background-size:auto 100%;}
    .title_box.ex .tit1{font-size:4rem;}

    /* about */
    .title_box.ab .tit{font-size:3.5rem;line-height:5rem;}
    /* contact */
    .map{height:450px;}
    .footer{padding:2rem;}
    .foot_wrap .btn_kakao{position:relative;margin-top:3.125rem;background-size:25px auto;}
}
