
@font-face {
    font-family: 'Noto Serif KR';
    src: url('NotoSerifKR-Medium.woff2') format('woff2'),
        url('NotoSerifKR-Medium.woff') format('woff');
    font-weight: 200;
} 
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.woff2') format('woff2'),
        url('Poppins-ExtraBold.woff') format('woff');
    font-weight: 500;
    
}
